@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using Nop.Web.Models.Customer;
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<div class="page account-page order-list-page">
    <div class="page-body">
<figure class="span9" id="horizontal_tabs_content">			
    <div id="myTabContent">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerOrders")</h1>

        <div class="order-list" style="margin-top:30px;">
            <table id="ordersTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Orders.Count > 0)
                    {
                        foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>
                                    <strong>@order.Id</strong>
                                </td>
                                <td>
                                    @order.OrderStatus
                                </td>
                                <td>
                                    @order.CreatedOn.ToString()
                                </td>
                                <td>
                                    @T("Account.CustomerOrders.OrderTotal"): @order.OrderTotal
                                </td>

                                <td>
                                    <input type="button" value="@T("Account.CustomerOrders.OrderDetails")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

                                  <script>
  
        $('#ordersTable').dataTable();
   
</script>
</figure>

    </div>
</div>
