@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;
    @Html.Widget("op_checkout_payment_method_top")
<style>
.use-reward-points{margin:0;padding:10px;color:#555;background:#F7F5E8;margin-bottom:10px;border:dotted 1px #d3d3d3;}
 .payment-method{text-align:left;border: 1px solid #EEE;height:auto;}
 .payment-method li{padding:10px;text-align:left;vertical-align:text-top; list-style:none;}
 .payment-method .method-name{clear:both;}
 .payment-method .method-name:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
 .payment-method .payment-logo{float:left;}
 .payment-method .payment-details{float:left;padding-top:8px;}
 .payment-method .buttons{margin:10px;text-align:left;}
 .payment-method .message-error{margin:10px;text-align:left;}
</style>
				<figure class="span6 first">

<h3> Payment Method </h3>


        @if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
        {
            <div class="use-reward-points">
                @Html.EditorFor(model => model.UseRewardPoints)
                @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
            </div>
        }
        @if (Model.PaymentMethods.Count > 0)
        {
            <ul class="payment-method">
                @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                {
                    var paymentMethod = Model.PaymentMethods[i];
                    var paymentMethodName = paymentMethod.Name;
                    if (!String.IsNullOrEmpty(paymentMethod.Fee))
                    {
                        paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                    }
                    <li>
                        <div class="method-name">
                            @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                            {
                                <div class ="payment-logo">
                                    <label for="paymentmethod_@(i)">
                                        <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                    </label>
                                </div>
                            }
                            <div class="payment-details">
                                <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                                <label for="paymentmethod_@(i)">@paymentMethodName</label>
                            </div>
                        </div>
                        @if(@paymentMethodName == "Credit Card")
                        {
                        <div id="cardInfoDiv">
                            <form id="bMethodForm">
                                <div>
                                    <label>Card Type : </label>
                                    <select id="CreditCardType" name="CreditCardType">
                                        <option value="visa">Visa</option>
                                        <option value="mastercard">Master</option>
                                        <option value="discover">Discover</option>
                                        <option value="amex">American Express</option>
                                    </select>
                                </div>
                                <label>Card Holder Name</label> <input type="text" id="CardholderName" name="CardholderName" />
                                <label>Card Number</label> <input type="text" id="CardNumber" name="CardNumber" />
                                <label>CVV</label> <input type="text" id="CardCode" name="CardCode" />
                                <label>Exp. Month</label> <input type="text" id="ExpireMonth" name="ExpireMonth" />
                                <label>Exp. Year</label> <input type="text" id="ExpireYear" name="ExpireYear" />
                            </form>
                        </div>
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="message-error">
                @T("Checkout.NoPaymentMethods")
            </div>
        }

			</figure>
    @Html.Widget("op_checkout_payment_method_bottom")
