@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<script>
    function osubmitOrder()
    {
        alert("submitting order");
        //disable page tp prevent
        $.ajax({
            cache: false,
            type: "POST",
            url: "@Url.Action("PlaceOrder", "ShoppingCart")",
            data: { "place":  "true" },
            success: function (data) {
                alert("success");
                alert(data.success);
            window.location.href = "@Request.Url.GetLeftPart(UriPartial.Authority)/orderdetails/" + data.orderNumber;
        },
        error: function (data) {
            alert('Failed.');
        }
    });
    }
</script>
<div class="order-summary-content">
    <section class="row-fluid">

        <section class="span3">
                 @Html.Partial("_OrderReviewData", Model.OrderReviewData)

                 </section>
        <section class="span9">

            <h3> Order Review  </h3>
            <table width="100%" cellpadding="14" border="0">
                <tbody>
                    <tr class="heading-bar-table">
                        <th width="47%" align="left">Product Name</th>
                        <th width="18%">Price</th>
                        <th width="19%">Quantity</th>
                        <th width="16%">Subtotal </th>
                    </tr>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td width="47%" align="left"> @item.ProductName </td>
                            <td width="18%" class="price"> @item.UnitPrice</td>
                            <td width="19%">@item.Quantity</td>
                            <td width="16%" class="price"> @item.SubTotal</td>
                        </tr>
                    }

                    @Html.Action("OrderReviewTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                    <tr>
                        <td align="left" colspan="3">Forgot an items? Edit your cart</td>
                        <td><input type="button" class="more-btn" onclick="osubmitOrder();" value="Place Order"/> </td>
                    </tr>
                </tbody>
            </table>
            </section>
        </section>
</div>
